.store-blk {
	margin-top: -70px;
	padding-top: 110px;
	background-color: #f6f6f6;
}
.product-list {
	padding-top: 60px;
	background-color: #f6f6f6;
}

.leftpane {
	background-color: #fff;
	border:1px solid #dddddd;
	li a {
		display:block;
		padding:8px 12px !important;

	}
	li:first a {
		padding-top: 16px;
	}
}

.each-category {
	min-height: 600px;
	margin-bottom: 60px;
	.uk-panel {
		margin-bottom: 30px;
	}
}