<ng-include src="'includes/header-light.html'"></ng-include>

<div ng-controller="StoreCtrl">
		<div class="store-blk">
			<div class="uk-container uk-width-6-8 uk-container-center">
				<h3 class="uk-h3 uk-text-center">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem facilis quo eum optio inventore possimus illo deserunt dolor, dignissimos reprehenderit consequatur rerum maxime. Itaque omnis voluptatem nesciunt est debitis minima.
				</h3>
			</div>
		</div>

		<div class="product-list">
			<div class="uk-container uk-container-center">
				<div class="uk-grid">
				    <div class="uk-width-3-10">
				    	<div class="leftpane" data-uk-sticky="{top:80}">
				    		<ul class="uk-list uk-list-line">
								<li ng-repeat="category in store">
									<a href="">{{category.catname}}</a>
								</li>
							</ul>
				    	</div>
				    </div>
				    <div class="uk-width-7-10">
				    	<div class="each-category" ng-repeat="category in store">
				    		<div class="category-title">
				    			<h5>{{category.catname}}</h5>
				    			<p>{{category.catdesc}}</p>
				    		</div>
				    		<hr>
				    		<div class="uk-grid">
				    			<div class="uk-width-1-4" ng-repeat="item in category.items">
									<div class="uk-panel uk-panel-box each-item">
									    <div class="item-img">
									        <img ng-src="images/{{item.imgpath}}" alt="">
									        
									    </div>
									    <p>{{item.name}}</p>
									</div>
				    			</div>
				    		</div>
				    	</div>
				    	
				    </div>
				</div>
			</div>
			


		</div>

</div>
