<ng-include src="'includes/header.html'"></ng-include>
<div ng-controller="HomeCtrl" class="uk-height-1-1">
	<!-- <div class="hero-blk">
		<div class="uk-container uk-container-center">
			<h2 class="uk-h2 uk-width-1-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis itaque, debitis nihil mollitia magnam consequuntur qui, distinctio accusamus quae.</h2>

			<button ng-click="goToStore()" class="uk-button uk-button-primary uk-button-large" type="button"><i class="uk-icon-shopping-cart"></i>&nbsp; Our Store</button>
		</div>

		
	</div>

	<div class="offerings">
		s d,; asd;fm;kadm fk;am dsfk;aksd kla dskla sdkl' askjldn laksnd k ad
	</div> -->

	<section  data-uk-scrollspy="{cls:'uk-animation-fade', delay:300}" 	class="hero-blk uk-height-viewport slide-1 uk-height-1-1">
		<div class="uk-container uk-container-center uk-vertical-align uk-height-1-1">
    		<div class="hero-content uk-align-center uk-vertical-align-middle">

	    		
	    			<h1 class="hero-header">What is Designz?</h1>
					<h2 class="hero-text">
						A graphic design and corporate gifting solutions firm promoted by a group of like minded people with experience in specialized fields like Designing, Corporate Gifting, we at Designz cater to today's customized requirements of our clients.

						
					</h2>
	    		</div>
    			
    		</div>
    </section>

	<section  data-uk-scrollspy="{cls:'uk-animation-fade', delay:10}" 	class="offerings-blk">
		<div class="uk-container uk-container-center">
			<div class="uk-grid">
			    <div class="uk-width-1-2">
			    	<div class="each-offering">
			    		<i class="uk-icon-shopping-cart"></i>
			    	</div>
			    </div>
			    <div class="uk-width-1-2">
			    	<div class="each-offering">
			    		<i class="uk-icon-shopping-cart"></i>
			    	</div>
			    </div>
			    
			    
			</div>
		</div>
	</section>

	<section></section>
	
</div>

