<div ng-controller="HomeCtrl">

	<div class="hero-blk">
		<div class="uk-container uk-container-center">
			<h2 class="uk-h2 uk-width-1-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis itaque, debitis nihil mollitia magnam consequuntur qui, distinctio accusamus quae.</h2>

			<button ng-click="goToStore()" class="uk-button uk-button-primary uk-button-large" type="button"><i class="uk-icon-shopping-cart"></i>&nbsp; Our Store</button>
		</div>
	</div>

	<div class="offerings">
	ad
	</div>
	
</div>

