html {
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	/*font-family: 'Open Sans', sans-serif;*/

}
.hero-blk {
	/*font-family: 'Open Sans', sans-serif;*/
  background: url(images/bghero.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
	h2 {
		/*margin-top: 120px;*/
	}
}

.hero-content {
  text-align: center;
  margin:0px 60px;
  margin-top: -80px;
  h2 {
    font-weight: 100;
  }
}

.offerings-blk {
  color: #eee;
  padding: 60px 0;
  background: #3c3841;
}

.each-offering {
  text-align: center;
  .img-blk {
    
  }
  i {
    font-size: 120px;
    border:1px solid #eeeeee;
    border-radius: 50%;
  }
}